@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import '/foundations.css';

/* --- GERAL ---*/
:root {
    --clr-pri: #FFAB02;
    --clr-sec: #FFDD9B;
    --clr-txt: #ffffff;
    --clr-txtalt: #0C0B00;
    --bg-color: #0C0B08;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- HEADER --- */
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
}

header a {
    flex-basis: 200px;

    color: var(--clr-pri);
    text-decoration: none;

    font-family: 'Figtree', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

header nav{
    flex-flow: row nowrap;
}

header > nav > a {
    display: inline-block;
    margin-right: 20px;

    text-decoration: none;
    color: var(--clr-txt);

    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

header > nav > a:hover {
    text-decoration: underline;
}


/* --- BODY --- */
body {
    background-color: var(--bg-color);
    color: var(--clr-txt);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

/* --- MAIN --- */
/* --- PROFILE HOME --- */
section#profileHome {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
    gap: 32px;
    margin-top: 64px;
}

img#profileImg {
    flex: 0 1 200px;
    width: 200px;
    height: 200px;

    background-color: var(--clr-pri);
    border-radius: 500px;
}

div#profileHomeInfos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

section#profileHome  h1 {
    font-family: 'Figtree', sans-serif;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 600;
    color: var(--clr-pri);
    margin-bottom: 0px;
}

section#profileHome h2 {
    color: var(--clr-sec);
    font-family: 'Figtree', sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 400;
    margin-top: 0px;
}

div#profileHomeLinks{
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
}

a.bttn {
    display: flex;

    padding: 8px 16px;
    background-color: var(--clr-pri);
    color: var(--clr-txtalt);
    text-decoration: none;

    font-family: 'Figtree', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 500px;
}

a.bttn:hover {
    background-color: var(--clr-sec);
    color: var(--clr-txt);
}

a.bttn > img{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

main {
    padding: 20px;
    width: 80vw;
    max-width: 1200px;
    margin: auto;
    color: --;
}

main h1 {
    font-family: 'Figtree', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--clr-pri);
    margin-bottom: 20px;
}

main h2 {
    color: var(--clr-sec);
    font-family: 'Figtree', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 4px;
    margin-top: 16px;
}

main h3 {
    font-family: 'Figtree', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 4px;
    margin-top: 16px;
}

main p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

main ul{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
}

main ul li{
    list-style-position: inside;
}

main img {
    max-width: 100%;
    height: auto;
}